@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#login-container {
  background-color: #1d2733;
  color: white;
  padding: 1.5rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-container header {
  color: currentColor;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 3px;
  position: absolute;
  top: 1rem;
}

#login-container footer {
  position: absolute;
  bottom: 1rem;
}

#login-container footer a {
  text-decoration: none;
  color: white;
}

.button-group {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.button-group button:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.button-group > * {
  margin: 0.2rem 0;
  font-size: 1.3rem;
}

.button-group input {
  outline: none;

  background: #304150;
  padding: 15px 10px;
  transition: all 0.5s ease;
  border: 1px solid #010101;
}

.button-group input:focus {
  background: #647685;
  color: #ffff;
  -webkit-box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
}

#game-container {
  background-color: orange;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

#playerTurn {
  font-size: 2rem;
}

#game-container > * {
  margin: 1rem 0;
}

.board-container {
  width: 80vw;
  height: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board-cell {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-x {
  height: 60%;
  width: 60%;
}

.cell-o {
  height: 67%;
  width: 67%;
}

.board-cell:nth-child(1),
.board-cell:nth-child(2),
.board-cell:nth-child(3) {
  border-top: none;
}

.board-cell:nth-child(1),
.board-cell:nth-child(4),
.board-cell:nth-child(7) {
  border-left: none;
}

.board-cell:nth-child(3),
.board-cell:nth-child(6),
.board-cell:nth-child(9) {
  border-right: none;
}

.board-cell:nth-child(7),
.board-cell:nth-child(8),
.board-cell:nth-child(9) {
  border-bottom: none;
}

@media only screen and (min-width: 600px) {
  .board-container {
    width: 331px;
    height: 331px;
  }
}
